.div-back{
    border:5px outset red;background-color: lightblue;
    border-radius: 3em;
    background-image:url( "https://64.media.tumblr.com/994d49c574f66c4efed88e3499a072f9/tumblr_nq2vx6sSZE1rmmwkio1_1280.png");
    background-size: 400px 400px;
}